:root {
    --main-color: #007BFF; /* Azul (exemplo) - Você pode substituir por outra cor da sua preferência */
    --color-dark: #333;
    --text-grey: #ccc;
    --hover-color: #555;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Sidebar */
.sidebar {
    width: 345px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color-dark);
    color: var(--text-grey);
    overflow-y: auto;
}

/* Sidebar Brand */
.sidebar-brand {
    height: 90px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.sidebar-brand h1 {
    color: #fff;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

/* Sidebar Menu Item */
.sidebar-menu li {
    width: 100%;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}

.sidebar-menu a{
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

/* Sidebar Menu Link */
.sidebar-menu a {
    display: block;
    color: var(--text-grey);
    font-size: 1.2rem;
    padding: 1rem 0;
    transition: background 0.3s;
}

/* Active Link Styling */
.sidebar-menu a.active {
    background: var(--main-color);
    color: #fff;
    border-radius: 30px 0px 0px 30px;
}

/* Efeito de Cor Suave ao Passar o Mouse */
.sidebar-menu a:hover {
    background: var(--hover-color);
}

/* Sidebar Icon */
.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}

/* Main Content Margin */
.main-content {
    margin-left: 345px;
    background: #f2f2f2;
    padding: 20px;
    transition: margin-left 0.5s;
}

/* User Profile */
.user-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-wrapper h4 {
    color: #333;
    font-size: 1.2rem;
}

.user-wrapper small {
    color: var(--text-grey);
    font-size: 1rem;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

/* Header Style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza os itens verticalmente no cabeçalho */
    padding: 1rem 2rem; /* Adiciona preenchimento interno ao cabeçalho */
    background: var(--color-dark); /* Define o plano de fundo do cabeçalho */
    color: #fff; /* Define a cor do texto no cabeçalho */
}

/* Search Bar */
.search-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
    background: #fff; /* Adicione um fundo branco à barra de pesquisa */
    border: 2px solid #ccc; /* Adicione uma borda cinza à barra de pesquisa */
    border-radius: 30px; /* Adicione bordas arredondadas */
    padding: 20px; /* Adicione algum preenchimento à barra de pesquisa */
}

.search-wrapper .las.la-search {
    font-size: 1.5rem;
    color: var(--main-color); /* Mude a cor do ícone de pesquisa para a cor principal */
}

.search-wrapper input[type="search"] {
    border: none;
    background: transparent; /* Torne o fundo do input transparente */
    padding: 5px;
    width: 200px;
    font-size: 1rem;
    outline: none; /* Remova a borda de foco */
}
/* Ajuste o estilo do título */
.header h2 {
    font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
}

.table{
    margin-top: 30px;
}

td.bi {
    margin-right: 1px; /* Define uma margem direita de 10px entre os elementos */
}

.h2-products{
    margin-top: 50px;
}



/* Adicione um novo ponto de quebra para telas menores, por exemplo, 768px */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%; /* Faça a barra lateral ocupar a largura total */
    }

    .main-content {
        margin-left: 0; /* Remova a margem esquerda no conteúdo principal */
    }

    /* Ajuste o posicionamento dos elementos na barra de pesquisa e perfil do usuário */
    .search-wrapper, .user-wrapper {
        margin-top: 10px; /* Diminua o espaçamento no topo */
    }
}
